:root {
    /* hsla(211, 92%, 52%, 1) */
    --color: #ff9800;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3333px;
    background-color: #0d1117;
    color: #dee2e6;
}

.icon {
    width: 1.5em;
    height: 1.5em;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#controls span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#controls span:active {
    transform: scale(0.95);
}

.container {
    width: 100%;
    max-width: 280px;
    padding: 1rem;
    margin: auto;
    user-select: none;
}

#song-title-container {
    overflow: hidden;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#song-title {
    text-align: center;
    white-space: nowrap;
    animation: none;
}

/* Definición de la animación para el desplazamiento */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        /* Comienza fuera de la pantalla por la derecha */
    }

    100% {
        transform: translateX(-100%);
        /* Se mueve hacia fuera de la pantalla por la izquierda */
    }
}

#data-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    table-layout: fixed;
}

#data-table tr td:nth-child(1) {
    width: 10%;
}

#data-table tr td:nth-child(2) {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#data-table tr td:nth-child(3) {
    width: 10%;
    text-align: right;
}

#data-table tr.playing {
    color: rgb(0, 255, 0);
}

#data-table tr.selected {
    background-color: rgb(0, 0, 255);
}

/* Input range styling */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    background: transparent;
}

input[type="range"]:focus {
    outline: none;
}

/* Google Chrome */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -5px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: var(--color);
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    cursor: pointer;
    background-color: #e9e9ed;
    border-radius: 2px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--color);
}

/* Mozilla Firefox */
input[type="range"]::-moz-range-thumb {
    height: 13px;
    width: 13px;
    border: none;
    border-radius: 50%;
    background-color: var(--color);
    cursor: pointer;
}

input[type="range"]::-moz-range-progress {
    background-color: var(--color);
    height: 4px;
    border-radius: 2px;
}

input[type="range"]::-moz-range-track {
    height: 4px;
    cursor: pointer;
    background-color: #e9e9ed;
    border-radius: 2px;
}

/* End input range styling */

#volume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

#volume-btn {
    text-align: left;
    width: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#volume-display {
    text-align: right;
    font-size: 12px;
}

#play-list {
    height: 257px;
    border: 1px solid;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.1rem;
}

#play-pause-btn svg {
    height: 1.75em;
    width: 1.75em;
}

.text-start {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.fs-12 {
    font-size: .75rem;
}

.fs-14 {
    font-size: .875rem;
}

.flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}